.title {
    text-align: center;
}

#map {
    height: 560px;
    width: 1100px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

#legend {
    font-family: Arial, sans-serif;
    background: #fff;
    padding: 10px;
    margin: 10px;
    border: 3px solid #000;
}

#legend h3 {
    margin-top: 0;
}

#legend img {
    vertical-align: middle;
}