.my_map {
    position: relative;
    width: 100%;
/*    height: 90%;*/
/*    top: -40px;*/
/*    background-color: aqua;*/
}

/*
#container {
    background-color: #b0b0b0;
}
*/

.datamap {
    background-color: black;
}


/*
.page-header {
    background-color: #b0b0b0;
}
*/

.hspecial {
    margin-top: -20px !important;
    margin-bottom: 0px !important;
}


#svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 10%;
    left: 50%;
    z-index: 100;
}

#controls {
    width: 100%;
    height: 100%;
    position: relative;
    top: -175px;
/*    left: 25%;*/
    z-index: 10000;
    
}

.line1 {
  fill: green;
  stroke: black;
  stroke-width: 1.5px;
  opacity:0.5;
}


/*
.chart .legend {
  fill: black;
  font: 14px sans-serif;
  text-anchor: start;
  font-size: 12px;
}
*/

#chart text {
  fill: white;
  font: 8px sans-serif;
  text-anchor: end;
}

#chart2 text {
  fill: white;
  font: 8px sans-serif;
  text-anchor: end;
}

#chart1 text {
  fill: white;
  font: 8px sans-serif;
}

#chart .label {
  fill: white;
  font: 9px sans-serif;
  text-anchor: end;
}

#chart2 .label {
  fill: white;
  font: 9px sans-serif;
  text-anchor: end;
}

.bar:hover {
  fill: brown;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#chart {
    position: absolute;
/*    z-index: 1000;*/
    left: 0;
/*    top: 550px;*/
}

.datamaps-legend {
    top: 80px;
    color: aliceblue;
}